@import "tailwindcss";

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url("/material.woff2") format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    font-size: 24px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    vertical-align: -6px;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: var(--poppins), var(--fredoka), sans-serif;
}

body {
    @apply bg-[#1a1b1c] text-white;
}

.poppins {
    font-family: var(--poppins), sans-serif;
}

.fredoka {
    font-family: var(--fredoka), sans-serif;
}

.rubik {
    font-family: var(--rubik), sans-serif;
}

.home {
    @apply w-full h-fit;
}

.videos {
    @apply flex flex-wrap w-full h-fit p-6;
    gap: 1rem !important;
}

.overlay {
    color: transparent !important;
    position: fixed !important;
    inset: 0 !important;
    z-index: 2 !important;
    display: block !important;
    animation: fadeIn 400ms ease forwards !important;
}

@keyframes fadeIn {
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(0, 0, 0, 0.4);
    }
}